@{
    ViewData["Title"] = "Home Page";

}
<link href="C:\Users\chewy\Desktop\ORT\2do Cuatrimestre\Nuevas Tecnologias\Proyecto Final\AdminGastos\Estilos\StyleSheet.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Bienvenidos al administrador de gastos anazhe </p>
    <div class="col-lg-12 col-sm-6">
        <a class="link" href="Operacions/Create"> Por favor, haga click aquí para ser redireccionado al administrador de gastos</a>
    </div>
</div>
