@{
    ViewData["Title"] = "Home Page";
    <link href="C:\Users\chewy\Desktop\ORT\2do Cuatrimestre\Nuevas Tecnologias\ProyectoFinal\AdminGastos\Estilos\StyleSheet.css" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Bienvenidos al administrador de gastos anazhe </p>

    <div class="col col-sm-6">
        <a href="Operaciones/Create" style="text-align: center" class="botonransio"> Haga Click Aquí Por Favor para Ingresar Sus Gastos</a>
    </div>     

</div>
